#background {
  width: 100%;
  height: 100%;
  fill: black;
}

#title {
  text-anchor: middle;
  font-size: 32;
  fill: yellow;
  x: 50%;
  y: 10%;
}

#scrollview {
  y: $;
}

#sensor-title {
  text-anchor: middle;
  font-size: 25;
  fill: white;
  x: 50%;
  y: $;
}

.sensor {
  text-anchor: middle;
  font-size: 20;
  fill: white;
  x: 50%;
  y: $;
}